<ion-view view-title="收货地址">
  <ion-content class="back_color">
  <div ng-repeat="address in addressList">
  <div ng-click="showAddressModify(address)" class="address_box ">
    <i class="avail heart_pos" ng-class="{true:'fa fa-heart fa-lg',false:'fa fa-heart-o fa-lg'}[selected]"></i>
    <p class="person font-color">收货人：{{address.name}}</p>
    <p class="person font-color">手机号：{{address.phone}}</p>
    <p class="address_text font-color">收货地址：{{address.address}}</p>
  </div>
  </div>
  <div ng-click="showAddressAdd()" class="add_address">+</div>
  </ion-content>
</ion-view>

<!--<span class="telephone">-->
<!--<p class="address_text font-color">收货地址：{{address.address}}</p>-->
