<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title font-color">编辑地址</h1>
    <div class="buttons">
      <a class="button" ng-click="closeAddressModify()">取消</a>
    </div>
  </ion-header-bar>
  <ion-content class="back_color">
    <form ng-submit="submitAddressModify()">
      <div class="list">
        <label class="item item-input">
          <span class="font-color label">收货人&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <input type="text" class="font-color address_info" ng-model="addressModel.name" required />
        </label>
        <label class="item item-input">
          <span class="font-color label">手机号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <input type="number" class="font-color address_info" ng-model="addressModel.phone" required />
        </label>
        <label class="item item-input">
          <span class="font-color label">收货地址&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <input type="text" class="font-color address_info" ng-model="addressModel.address" required />
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">完成</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
