<ion-view view-title="收货地址">
  <ion-content>
  <p align="center">我的收货地址</p>
    <table width="100%">
      <tr>
        <td >
        <img src="img/ios7-png/globe-vector.png" onload='if (this.width>20 || this.height>20) if (this.width/this.height>80/80) this.width=20; else this.height=20;'>
      </td>
        <td>
          上海市杨浦区四平路1239号同济大学8号楼
        </tb>
      </tr>
    </table>

    <img id="edit" src="img/ios7-png/edit-vector.png" onload='if (this.width>20 || this.height>20) if (this.width/this.height>80/80) this.width=20; else this.height=20;'>
    <img src="img/ios7-png/plus-vector.png" onload='if (this.width>20 || this.height>20) if (this.width/this.height>80/80) this.width=20; else this.height=20;'>



  </ion-content>
</ion-view>
