<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title font-color">编辑地址</h1>
    <div class="buttons">
      <a class="button" ng-click="closeAddressModify()">取消</a>
    </div>
  </ion-header-bar>
  <ion-content class="back_color">
    <form ng-submit="submitAddressModify()">
      <div class="list">
        <label class="item item-input">
          <span class="font-color label">收货人</span>
          <input type="text" class="font-color address_info" value="        王明" required />
        </label>
        <label class="item item-input">
          <span class="font-color label">手机号</span>
          <input type="text" class="font-color address_info" value="        13654356847" required />
        </label>
        <label class="item item-input">
          <span class="font-color label">收货地址</span>
          <input type="text" class="font-color address_info" value="    上海市宝山区呼玛二村46号304室" required />
        </label>
        <label class="item">
          <button class="button button-set button-positive" type="submit">完成</button>
          <button class="button button-set button-positive" type="button" ng-click="setDefault()">设为默认地址</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
