<ion-modal-view>
  <ion-header-bar>
    <h1 class="title font-color">赚钱啦！</h1>
    <div class="buttons">
      <i class="icon-remove close font-color" ng-click="closeCashNotification()"></i>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="  请输入支付宝账号" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="  请要兑换的积分" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="button" ng-click="closeCashNotification()">确定</button>
          <button class="button button-block button-positive" type="button" ng-click="closeCashNotification()">取消</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
