<ion-modal-view>
  <ion-header-bar>
    <h1 class="title font-color">赚钱啦！</h1>
    <div class="buttons">
      <i class="icon-remove close font-color" ng-click="closeCashNotification()"></i>
    </div>
  </ion-header-bar>
  <ion-content>
    <form >
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="  请输入支付宝账号" ng-model="payData.username"></input>
        </label>
        <label class="item item-input">
          <input type="number" placeholder="  请要兑换的积分" ng-model="payData.creditsToRedeem"></input>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="button" ng-click="redeemCredits()">确定</button>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="button" ng-click="closeCashNotification()">取消</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
