<ion-view view-title="积分管理">
  <ion-content class="back_color" ng-init="showList=false">
    <div class="first_contain credit_contain snatch_text">
      <i class="fa fa-money fa-3x credit_icon"></i>
      <p class="credit_detail_t">今日赚得</p>
      <p class="credit_count">27</p>
    </div>
  <div ng-click="showCashNotification()" class="credit_contain">
    <i class="fa fa-database fa-3x avail credit_icon"></i>
    <p class="avail credit_detail">积分</p>
    <p class="avail credit_count">{{$parent.myCredit}}</p>
  </div>
    <div class="credit_contain earn_text">
      <span class="fa-stack fa-2x">
        <i class="fa fa-circle fa-stack-2x credit_icon icon_margin"></i>
        <i class="fa fa-rmb fa-stack-1x fa-inverse credit_icon icon_margin"></i>
      </span>
      <p class="credit_detail">衣币</p>
      <p class="credit_count">{{golds}}</p>
      <div ng-click="showList=!showList" class="list_detail">
        <span class="earn_text">详情</span>
        <i ng-class="{true: 'fa fa-chevron-up earn_text', false: 'fa fa-chevron-down earn_text'}[showList]"></i>
      </div>
    </div>
    <div ng-show="showList" class="credit_list earn_text" ng-repeat="goldLog in goldsLog" >
      <p class="font-color">衣币详情列表</p>
      <div class="list_contain">
        <div class="list_yellow">
          <span class="fa-stack fa-lg list_icon">
            <i class="fa fa-circle fa-stack-2x font-color"></i>
            <i class="fa fa-rmb fa-stack-1x fa-inverse"></i>
          </span>
          <p class="list_count white">{{goldLog.goldCount}}<span class="list_unit white">衣币</span></p>
          <div class="list_grey">
            <span class="list_time font-color">过期时间：{{goldLog.overDate}}</span>
          </div>
        </div>
      </div>
    </div>


    <!--<div class="list_contain">-->  demo
      <!--<div class="list_yellow">-->
        <!--<i class="icon-gift white list_icon"></i>-->
        <!--<p class="list_count white">20<span class="list_unit white">衣币</span></p>-->
        <!--<div class="list_grey">-->
          <!--<span class="list_time font-color">过期时间：2015-10-15&nbsp;&nbsp;22:12:23</span>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

  </ion-content>
</ion-view>
