<ion-view view-title="主页">
  <ion-content class="back_color bg_image">
      <ion-refresher
      pulling-text="下拉刷新..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <!-- 主页的模板 -->
    <div id="homepage">
      <div ng-init="packageHide=true" ng-hide="packageHide" class="package_contain">
        <div class="cover"></div>
        <img ng-click="creditIn()" class="red_package animated zoomInDown" src="img/red_package.png">
        <i ng-click="" class="fa fa-remove fa-2x font-color gift package_close animated bounceInRight"></i>
      </div>
      <div class="homepage_process little_dark">
        <span class="hpg_pro inline">{{hpQuest.title}}</span>

        <div class="hp_load_bar inline">
          <span class="hp_left_loadbar hp_process_bar" style="width:{{hpQuest.done}}%"></span><span class="hp_right_loadbar hp_process_bar"style="width:{{hpQuest.left}}%"></span>
        </div>
        <span class="hpg_pro inline">{{hpQuest.currentCredit}}/{{hpQuest.creditTotal}}</span>
        <i ng-click="test()" class="fa fa-gift fa-2x gift inline"></i>
      </div>
      <div class="contain_box">
        <button class="btn_primary snatch" ng-click="showQuestNotification()">抢</button>
        <div class="serial_num">
          <!-- showSerialNumber -->
          <a ng-click="showSerialNumber()" class="home_link">已经有序列号?</a>
        </div>
        <div class="text_group" > <!--track by $index-->
          <div class="text_box">
            <p ng-click="s1TextClick=!s1TextClick" class="snatch_text"><i class="fa fa-thumb-tack icon"></i>{{currentQuests[0].title}}</p>
            <p ng-show="s1TextClick" class="snatch_info snatch_text">{{currentQuests[0].endTime.substring(0,10)}}</p>

            <!--<p ng-show="sTextClick" class="snatch_info snatch_text">{{cquest.currentCredit}}/{{cquest.creditTotal}}</p>-->
          </div>
          <div class="text_box">
            <p class="snatch_text" ng-click="s2TextClick=!s2TextClick"><i class="fa fa-thumb-tack icon"></i>{{currentQuests[1].title}}</p>
            <p ng-show="s2TextClick" class="snatch_info snatch_text">{{currentQuests[1].endTime.substring(0,10)}}</p>
          </div>
        </div>
        <div ng-click="moreTasks()" class="details">
          <span class="number snatch_text">{{currentQuests.length}}</span>
          <i class="fa fa-chevron-right icon more snatch_text"></i>
        </div>
      </div>
      <div class="contain_box full_height">
        <button class="btn_primary take" ng-click="showTaskPopup()">拍</button>
        <i class="fa fa-info-circle fa-lg take_text take_rule" ng-click="goToRule()"></i>
        <div class="timer_group">
          <span class="timer_message"><i class="fa fa-camera-retro fa-lg camera take_text"></i>下次拍照时间</span>

          <p class="timer font-color">1&nbsp;:&nbsp;23&nbsp;:&nbsp;24</p>
        </div>

        <div ng-click="goToPic()" class="details_left">
          <span class="go_album take_text">相册</span>
          <i class="fa fa-chevron-right icon more_photo take_text"></i>
        </div>
      </div>
      <div class="contain_box">
        <button class="btn_primary earn" ng-click="showCashNotification()">赚</button>
        <div class="text_group right">
          <span class="text_earn avail"><i class="fa fa-database avail camera"></i>积分&nbsp;<span class="count font-color">{{$parent.myCredit}}</span></span>
        </div>
        <div ng-click="creditDetails()" class="details_credit">
          <span class="detail_c avail">详情</span>
          <i class="fa fa-chevron-right icon more_credit avail"></i>
        </div>
      </div>
    </div>

    <!--

            <div class="card">
              <div class="item item-text-wrap">
                This is a basic Card which contains an item that has wrapping text.
                This is a basic Card which contains an item that has wrapping text.
                This is a basic Card which contains an item that has wrapping text.
                This is a basic Card which contains an item that has wrapping text.
                This is a basic Card which contains an item that has wrapping text.
              </div>
            </div>
    -->
  </ion-content>
</ion-view>
