<ion-view view-title="主页">
  <ion-content class="back_color">
  <!--  <ion-refresher
	pulling-text="下拉刷新..."
	on-refresh="doRefresh()">
  </ion-refresher>
  <!-- 主页的模板 -->
  <!-- TODO:给div添加css -->
  <!-- TODO:给按钮添加onclick事件 -->
  <!-- TODO:替换placeholder -->
  <!-- TODO:真tm丑-->
<div id="homepage">
	  <div class="contain_box">
				<button class="btn_primary snatch" ng-click="showQuestNotification ()">抢</button>
        <div class="text_group">
          <div class="text_box">
            <p ng-click="sTextClick=!sTextClick" class="snatch_text_color"><i class="icon-pushpin icon"></i>耐克拍照</p>
            <p ng-show="sTextClick" class="snatch_info snatch_text_color">2015-11-20</p>
            <p ng-show="sTextClick" class="snatch_info snatch_text_color">8/10</p>
          </div>
          <div class="text_box">
            <p class="snatch_text_color"><i class="icon-pushpin icon"></i>爱拍拍照</p>
            <p ng-hide="true" class="snatch_info snatch_text_color">2015-11-20</p>
            <p ng-hide="true" class="snatch_info snatch_text_color">7/10</p>
          </div>
        </div>
        <div ng-click="moreTasks()" class="details">
          <span class="number">5</span>
          <i class="icon-angle-right icon more"></i>
        </div>
		</div>
		<div  class = "contain_box">
      <i class="icon-camera-retro camera"></i>
      <button class="btn_primary take" ng-click="click()">拍</button>
		</div>
	  <div class="contain_box">
			<button class="btn_primary earn" ng-click="showCashNotification()">赚</button>
		  <div class="text_group">
        <p class="text_earn">&nbsp;&nbsp;可兑换积分<span class="count">27</span></p>
        <p class="text_earn">不可兑换积分<span class="count">18</span></p>
      </div>
      <div ng-click="creditDetails()" class="details_credit">
        <span class="detail_c">详情</span>
        <i class="icon-angle-right icon more_credit"></i>
      </div>
	  </div>
</div>

<!--

		<div class="card">
		  <div class="item item-text-wrap">
			This is a basic Card which contains an item that has wrapping text.
			This is a basic Card which contains an item that has wrapping text.
			This is a basic Card which contains an item that has wrapping text.
			This is a basic Card which contains an item that has wrapping text.
			This is a basic Card which contains an item that has wrapping text.
		  </div>
		</div>



	<ion-list>
	  <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
		{{playlist.title}}
	  </ion-item>
	</ion-list>-->
  </ion-content>
</ion-view>
