<ion-view view-title="主页">
  <ion-content>
  <!--  <ion-refresher
	pulling-text="下拉刷新..."
	on-refresh="doRefresh()">
  </ion-refresher>
  <!-- 主页的模板 -->
  <!-- TODO:给div添加css -->
  <!-- TODO:给按钮添加onclick事件 -->
  <!-- TODO:替换placeholder -->
  <!-- TODO:真tm丑-->
<div id="homepage">
	  <div class="contain_box">
				<button class="btn_primary snatch" ng-click="showQuestNotification ()">抢</button>
        <div class="text_group">
          <div class="text_box">
            <p class="snatch_text snatch_text_color"><span class="snatch_title snatch_title_color">1</span>耐克拍照</p>
            <p ng-hide="true" class="snatch_text snatch_text_color">2015-11-20</p>
            <p ng-hide="true" class="snatch_text snatch_text_color">8/10</p>
          </div>
          <div class="text_box">
            <p class="snatch_text snatch_text_color"><span class="snatch_title snatch_title_color">2</span>爱拍拍照</p>
            <p ng-hide="true" class="snatch_text snatch_text_color">2015-11-20</p>
            <p ng-hide="true" class="snatch_text snatch_text_color">7/10</p>
          </div>
        </div>
		</div>
		<div  class = "contain_box">
      <div class="camera"></div>
      <button class="btn_primary take" ng-click="getPhoto()">拍</button>
		</div>
	  <div class="contain_box">
			<button class="btn_primary earn" ng-click="showCashNotification()">赚</button>
		  <div class="score_box">
        <div class="package"></div>
        <p class="text_earn">可兑换积分：27</p>
        <p class="text_earn">不可兑换积分：18</p>
      </div>
	  </div>
</div>

<!--

		<div class="card">
		  <div class="item item-text-wrap">
			This is a basic Card which contains an item that has wrapping text.
			This is a basic Card which contains an item that has wrapping text.
			This is a basic Card which contains an item that has wrapping text.
			This is a basic Card which contains an item that has wrapping text.
			This is a basic Card which contains an item that has wrapping text.
		  </div>
		</div>



	<ion-list>
	  <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
		{{playlist.title}}
	  </ion-item>
	</ion-list>-->
  </ion-content>
</ion-view>
