<ion-view>
    <ion-content class="bg_blue">
      <div class="background">
        <p class="start_text white">衣起赚</p>
          <div class="list start_top">
            <label class="item item-input start">
              <input type="text" placeholder="  请输入手机号" ng-model="loginData.username1" required />
            </label>
            <label class="item item-input start">
              <input type="password" placeholder="  请输入密码" ng-model="loginData.password" required />
            </label>
            <div class="button_start white" ng-click="doLogin()">
              <span>登录</span>
            </div>
            <p class="start_link white" ng-click="toRegister()">还没有账号？点此注册</p>
          </div>
      </div>
    </ion-content>
</ion-view>
