<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-light">
      <h1 class="title"><!-- TODO:侧边栏的标题  --></h1>
    </ion-header-bar>
    <ion-content class="back_color">
      <ion-list>
        <!-- TODO:页面模板做好后把url和controller对应起来  -->
        <ion-item menu-close ng-click="login()">
          <img class="sculpture" src="img/ios7-png/user-male-circle-vector.png">
          <span class="username">18456454433</span>
          <img class="arrow arrow_first" src="img/ios7-png/forward-vector.png">
        </ion-item>
        <div class="gap"></div>

        <ion-item menu-close href="#/app/homepage">
          <img class="arrow" src="img/ios7-png/home-vector.png">
          <span class="management">返回主页</span>
          <img class="arrow arrow_other" src="img/ios7-png/forward-vector.png">
        </ion-item>
        <ion-item menu-close href="#/app/quest">
          <img class="arrow" src="img/ios7-png/alarm-clock-vector.png">
          <span class="management">任务管理</span>
          <img class="arrow arrow_other" src="img/ios7-png/forward-vector.png">
        </ion-item>
        <ion-item menu-close href="#/app/picmanage">
          <img class="arrow" src="img/ios7-png/photo-vector.png">
          <span class="management">照片管理</span>
          <img class="arrow arrow_other" src="img/ios7-png/forward-vector.png">
        </ion-item>
        <ion-item menu-close href="#/app/creditpage">
          <img class="arrow" src="img/ios7-png/price-tag-pound-vector.png">
          <span class="management">积分管理</span>
          <img class="arrow arrow_other" src="img/ios7-png/forward-vector.png">
        </ion-item>
        <ion-item menu-close href="#/app/address">
          <img class="arrow" src="img/ios7-png/flag-vector.png">
          <span class="management">收货地址</span>
          <img class="arrow arrow_other" src="img/ios7-png/forward-vector.png">
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
