<ion-view view-title="修改密码">
  <ion-content class="back_color">
    <label class="item item-input edit_input">
      <input type="password" placeholder="   旧密码" ng-model="mp.oldPwd">
      <span class="edit_title font-color">旧密码
      </span>
    </label>
    <label class="item item-input edit_input">
      <input type="password" placeholder="   新密码" ng-model="mp.newPwd">
      <span class="edit_title font-color">新密码
      </span>
    </label>
    <label class="item item-input edit_input">
      <input type="password" placeholder="   再次输入" ng-model="mp.confirmPwd">
      <span class="edit_title font-color">再次输入
      </span>
    </label>
    <div class="button_confirm white" ng-click="modPwd()">
      <span>确定</span>
    </div>
  </ion-content>
</ion-view>
