<ion-view view-title="照片管理">
  <ion-content>
    <ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
      <div class="title_bar">
        <i ng-click="gotoAlbum()" class="icon-angle-left returntask font-color"></i>
        <i class="icon-user portrait font-color"></i>
        <span class="phone">我的相册</span>
        <i ng-click="takePhoto()" class="icon-camera takephoto font-color"></i>
      </div>
      <div class="album_info">
        <span class="album_title">安踏拍照</span>
        <p class="num">8张照片</p>
      </div>
      <div ng-repeat="pic in pics" class="pic_contain">
        <span class="time font-color">10月22日</span>
        <span class="time font-color">12:56</span>
        <div class="slide_box">
          <ion-slide-box>
            <ion-slide>
              <div class="box">
                <img ng-src="{{pic.img}}" class="photoview">
              </div>
            </ion-slide>
            <ion-slide>
              <div class="box blue">
                <h1 align='center'>BLUE</h1>
              </div>
            </ion-slide>
          </ion-slide-box>
          <span ng-class="{'status_text earn_text': underway, 'status_text font-color': failure, 'status_text take_text': success}" on-reorder="reorderItem(pic, $fromIndex, $toIndex)">
            <i ng-class="{'icon-spinner earn_text': underway, 'icon-remove font-color': failure, 'icon-ok take_text': success}" ></i>
            {{status}}
          </span>
        </div>
        </div>
    </ion-list>
  </ion-content>
</ion-view>
