<ion-view view-title="照片管理">
  <ion-content class="back_color">
    <ion-item class="album" menu-close href="#/app/quest">
      <img class="cover" src="img/ios7-png/user-female-circle-vector.png">
      <span class="album_name">耐克拍照</span>
      <p class="album_num">300张</p>
      <img class="arrow arrow_first" src="img/ios7-png/forward-vector.png">
    </ion-item>
    <ion-item class="album" menu-close href="">
      <img class="cover" src="img/ios7-png/user-male-circle-vector.png">
      <span class="album_name">爱拍拍照</span>
      <p class="album_num">125张</p>
      <img class="arrow arrow_first" src="img/ios7-png/forward-vector.png">
    </ion-item>
  </ion-content>
</ion-view>
