<ion-view nav-clear menu-close view-title="相册管理">
  <ion-content class="back_color">
    <ion-item class="album snatch_text" nav-clear menu-close ng-click="showPhoto()">
      <i class="album_cover icon-book"></i>
      <span class="album_name">耐克拍照</span>
      <span class="album_num">300张</span>
      <i class="arrow_bigger arrow_first icon-angle-right"></i>
    </ion-item>
    <ion-item class="album font-color" menu-close href="#/app/photo">
      <i class="album_cover icon-book"></i>
      <span class="album_name">爱拍拍照</span>
      <span class="album_num">125张</span>
      <i class="arrow_bigger arrow_first icon-angle-right"></i>
    </ion-item>
  </ion-content>
</ion-view>
