<ion-view view-title="商品详情">
  <ion-content>
    <ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
      <div class="title_bar title_center">
        <i class="fa fa-shopping-cart fa-lg portrait font-color"></i>
        <span class="font-color purchase_title">安踏拍照</span>
      </div>
      <div class="cloth_contain">
        <img class="cloth_image" src="img/cloth.png">
        <div class="cloth_description">
          <div class="name_contain">
            <span class="cloth_name font-color">安踏爆款广告衫安踏爆款广告衫安踏爆款广告衫</span>
          </div>
          <span class="cloth_price">￥39</span>
        </div>
      </div>
      <div class="purchase">
        <div ng-click="" class="purchase_btn">
          <i class="fa fa-shopping-cart purchase_ele"></i>
          <span class="purchase_ele">购买</span>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
