<ion-view view-title="任务管理">
  <ion-content>
  <div class="contain-box">
    <div class="title-bar">
      <i class="icon-spinner process icon"></i>
      <p class="status process">进行中</p>
    </div>
    <div class="content">
      <div class="text_box">
        <p class="snatch_text process"><i class="icon-pushpin process icon"></i>耐克拍照</p>
        <p class="snatch_info process">2015-11-20</p>
        <p class="snatch_info process">8/10</p>
      </div>
      <div class="text_box">
        <p class="snatch_text process"><i class="icon-pushpin process icon"></i>爱拍拍照</p>
        <p class="snatch_info process">2015-11-20</p>
        <p class="snatch_info process">7/10</p>
      </div>
    </div>
  </div>
    <div class="contain-box">
      <div class="title-bar">
        <i class="icon-ok completed icon"></i>
        <p class="status completed">已完成</p>
      </div>
      <div class="content">
        <div class="text_box">
          <p class="snatch_text completed"><i class="icon-pushpin completed icon"></i>耐克拍照</p>
          <p class="snatch_info completed">2015-11-20</p>
          <p class="snatch_info completed">8/10</p>
        </div>
        <div class="text_box">
          <p class="snatch_text completed"><i class="icon-pushpin completed icon"></i>爱拍拍照</p>
          <p class="snatch_info completed">2015-11-20</p>
          <p class="snatch_info completed">7/10</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
