<ion-modal-view>
  <ion-header-bar>
    <h1 class="title font-color">新手规则</h1>
    <div class="buttons">
      <i class="icon-remove close font-color" ng-click="closeRule()"></i>
    </div>
  </ion-header-bar>
  <ion-content class="back_color">
    <img class="unavail_bar" src="img/rule.png">
    <div class="unavail_content">
      <span class="font-color">XXXXXXXXXXXX</span>
      <span class="font-color">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</span>
    </div>
  </ion-content>
</ion-modal-view>
