<ion-view view-title="主页">
  <ion-content class="back_color bg_image">
    <div class="slide_container">
      <ion-slide-box>
        <ion-slide class="rule_slide">
          <img class="slide_image" src="img/1.jpg">
        </ion-slide>
        <ion-slide class="rule_slide">
          <img class="slide_image" src="img/1.jpg">
        </ion-slide>
        <ion-slide class="rule_slide">
          <img class="slide_image" src="img/1.jpg">
        </ion-slide>
      </ion-slide-box>
    </div>
  </ion-content>
</ion-view>

