<ion-view view-title="个人资料">
  <ion-content class="back_color">
    <div class="user_group">
      <i class="fa fa-user fa-4x font-color info_portrait"></i>
      <span class="user_name font-color">{{loginData.nickName}}</span>
    </div>
    <div class="info_item">
      <span class="info_title font-color">手机号码
        <span class="info_text font-color">{{loginData.username}}</span>
      </span>
    </div>
    <div class="gap"></div>
    <div class="info_item">
      <span class="info_title font-color">支付宝账号
        <span class="info_text font-color">{{loginData.alipayAccount}}</span>
      </span>
    </div>
    <div class="info_btngroup">
      <span ng-click="editInfo()" class="info_btn">
        <i class="fa fa-edit fa-lg white edit_icon"></i>
        <span class="info_btntext white">编辑资料</span>
      </span>
      <span ng-click="toEditPwd()" class="info_btn">
        <i class="fa fa-pencil fa-lg white edit_icon"></i>
        <span class="info_btntext white">修改密码</span>
      </span>
      <span menu-close ng-click="logout()" class="info_btn">
        <i class="fa fa-sign-out fa-lg white edit_icon"></i>
        <span menu-close class="info_btntext white">退出登录</span>
      </span>
    </div>
  </ion-content>
</ion-view>
