<ion-view view-title="个人资料">
  <ion-content class="back_color">
    <div class="user_group">
      <i class="icon-user font-color info_portrait"></i>
      <span class="user_name font-color">16345647368</span>
    </div>
    <div class="info_item">
      <span class="info_title font-color">手机号码
        <span class="info_text font-color">16345647368</span>
      </span>
    </div>
    <div class="gap"></div>
    <div class="info_item">
      <span class="info_title font-color">支付宝账号
        <span class="info_text font-color">16345647368@163.com</span>
      </span>
    </div>
    <div class="info_btngroup">
      <span ng-click="editInfo()" class="info_btn">
        <i class="icon-pencil white edit_icon"></i>
        <span class="info_btntext white">编辑资料</span>
      </span>
      <span ng-click="editPassword()" class="info_btn">
        <i class="icon-pencil white edit_icon"></i>
        <span class="info_btntext white">修改密码</span>
      </span>
    </div>
  </ion-content>
</ion-view>
