.credit_title{
  text-align: center;
  font-size: 20px;
  margin: 30px;
}
.credit_contain{
  height: 100px;
  margin: 20px 40px;
  padding: 20px 10px;
  position: relative;
  border-radius: 10px;
  background-color: #e7f5fa;
}
.credit_avail{
  border: 2px solid #f5405a;
}
.credit_unavail{
  border: 2px solid #f1b133;
}
.credit_today{
  border: 2px solid #387ef5;
}
.credit_list{
  margin: 20px 40px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  border: 2px solid #dddddd;
  background-color: #e7f5fa;
}
.avail{
  color: #f5405a;
}
.unavail{
  color: #666666;
}
.credit_icon{
  font-size: 55px;
  position: absolute;
  top: 20%;
  left: 10%;
}
.credit_detail{
  position: absolute;
  top: 25%;
  left: 55%;
  font-size: 16px;
}
.credit_detail_t{
  position: absolute;
  top: 25%;
  left: 50%;
  font-size: 16px;
}
.credit_count{
  position: absolute;
  top: 55%;
  left: 55%;
  font-size: 22px;
  font-weight: 600;
}
.credit_span{
  margin: 0 10px;
}
.credit_left{
  margin-right: 55px;
}
.credit_right{
  width: 75px;
}
.list_contain{
  position: relative;
  height: 65px;
  margin-top: 10px;
}
.list_icon{
  font-size: 30px;
  position: absolute;
  top: 5px;
  left: 10px;
}
.list_yellow{
  width: 100%;
  height: 100%;
  background-color: #f1b133;
  border-radius: 6px;
  position: absolute;
  top: 0;
  right: 0;
}
.list_grey{
  width: 100%;
  height: 20px;
  background-color: #dddddd;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.list_count{
  font-size: 30px;
  font-weight: 600;
  position: absolute;
  top: 15%;
  left: 50px;
}
.list_unit{
  font-size: 16px;
  margin-left: 5px;
}
.list_time{
  font-size: 10px;
  position: absolute;
  left: 5px;
  bottom: 0;
}
.list_detail{
  position: absolute;
  right: 5px;
  bottom: 5px;
}
