#homepage{
  padding: 0;
  width: 90%;
  margin: 0 auto;
}
.contain_box{
  background-color: #ffffff;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  position: relative;
}
.btn_primary{
  width: 80px;
  height: 80px;
  border-radius: 1000px;
  border: none;
  color: white;
  font-size: 20px;
  display: inline-block;
}
.text_group{
  margin: 10px 15px;
  max-width: 120px;
  max-height: 85px;
  overflow: hidden;
  position: absolute;
  top: 15px;
  left: 36%;
}
.snatch{
  background-color: #387ef5;
}
.take{
  background-color: #c9deb2;
  float: right;
}
.earn{
  background-color: #f1b133;
}
.snatch_info{
  font-size: 10px;
  font-weight: 200;
  line-height: 0.3;
  margin-left: 30px;
}
.text_box{
  display: inline-block;
  position: relative;
}
.icon{
  font-size: 16px;
  margin: 0 10px 0 10px;
}
.camera{
  font-size: 20px;
  color: #c9deb2;
  margin: 10px;
}
.text_earn{
  font-size: 14px;
  color: #f1b133;
  margin-top: 10px;
}
.snatch_text_color{
  color: #387ef5;
}
.number{
  font-size: 14px;
  color: #387ef5;
}
.more{
  color: #387ef5;
  position: absolute;
  bottom: 1px;
  left: 5px;
}
.details{
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 8px;
  right: 16px;
}
.count{
  margin: 2px;
  font-size: 16px;
  font-weight: 400;
  line-height: 0.3;
}
.details_credit{
  width: 80px;
  height: 20px;
  position: absolute;
  bottom: 2px;
  right: -12px;
}
.more_credit{
  color: #f1b133;
  position: absolute;
  bottom: 5px;
  right: 16px;
}
.detail_c{
  font-size: 14px;
  color: #f1b133;
  position: absolute;
  bottom: 5px;
  right: 40px;
}
.home_link{
  position: absolute;
  top: 2px;
  right: 10px;
  color: #ffffff;
  font-size: 12px;
  text-decoration: underline;
}
.serial_num{
  width: 100px;
  height: 25px;
  border-top-right-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #387ef5;
}
.timer_group{
  width: 50%;
  height: 85px;
  overflow: hidden;
  text-align: center;
  position: absolute;
  top: 20px;
  left: 6%;
}
.full_height{
  height: 120px;
}
.timer_message{
  text-align: center;
  width: 90%;
  color: #c9deb2;
  position: absolute;
  top: 0;
  left: 6%;
}
.timer{
  position: absolute;
  top: 50px;
  left: 20%;
  font-size: 20px;
}
.right{
  text-align: right;
}
