#homepage{
  padding: 0;
  width: 90%;
  margin: 0 auto;
}
.contain_box{
  background-color: #ffffff;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  position: relative;
}
.btn_primary{
  width: 80px;
  height: 80px;
  border-radius: 1000px;
  border: none;
  color: white;
  font-size: 20px;
  display: inline-block;
}
.text_group{
  margin: 10px 15px;
  max-width: 120px;
  position: absolute;
  top: 10px;
  left: 105px;
}
.snatch{
  background-color: #387ef5;
}
.take{
  background-color: #c9deb2;
}
.earn{
  background-color: #f1b133;
}
.snatch_info{
  font-size: 10px;
  font-weight: 200;
  line-height: 0.3;
  margin-left: 30px;
}
.text_box{
  display: inline-block;
  position: relative;
}
.icon{
  font-size: 16px;
  margin: 0 10px 0 10px;
}
.camera{
  margin: 0 40px 0 10px;
  font-size: 70px;
  color: #c9deb2;
}
.text_earn{
  font-size: 14px;
  color: #f1b133;
  margin-top: 10px;
}
.snatch_text_color{
  color: #387ef5;
}
.number{
  font-size: 14px;
  color: #387ef5;
}
.more{
  color: #387ef5;
  position: absolute;
  bottom: 2px;
  left: 5px;
}
.details{
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 10px;
  right: 30px;
}
.count{
  margin: 2px;
  font-size: 16px;
  color: #666666;
  font-weight: 400;
  line-height: 0.3;
}
.details_credit{
  width: 30px;
  height: 20px;
  position: absolute;
  bottom: 10px;
  right: 40px;
}
.more_credit{
  color: #f1b133;
  position: absolute;
  bottom: 2px;
  left: 25px;
}
.detail_c{
  font-size: 14px;
  color: #f1b133;
}
