.back_color{
  background-color: #f4f4f4;
}
.sculpture{
  font-size: 50px;
  margin-left: 10px;
}
.username{
  position: absolute;
  top: 30px;
  left: 90px;
  display: inline-block;
}
.arrow{
  margin-left: 10px;
  font-size: 20px;
}
.arrow_first{
  position: absolute;
  top: 30px;
  right: 40px;
}
.arrow_other{
  position: absolute;
  top: 20px;
  right: 40px;
}
.management{
  margin-left: 10px;
  font-size: 14px;
}

