.contain-box{
  position: relative;
}
.title-bar{
  padding: 10px;
  text-align: center;
}
.icon{
  font-size: 20px;
}
.status{
  margin-top: 10px;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
}
.process{
  color: #f1b133;
}
.content{
  padding: 30px;
  margin: 0 20px;
  background-color: #f6f6f6;
  border-radius: 10px;
}
.process_title_color{
  color: #f1b133;
  border: 2px solid #f1b133;
}
.com_title_color{
  color: #387ef5;
  border: 2px solid #387ef5;
}
.completed{
  color: #387ef5;
}
.text_box{
  margin-right: 15px;
}
