.contain-box{
  position: relative;
}
.title-bar{
  padding: 10px;
  text-align: center;
}
.icon{
  font-size: 20px;
}
.icon_bigger{
  font-size: 30px;
}
.icon_pos_p{
  position: absolute;
  top: 50px;
  left: 10%;
}
.icon_pos_c{
  position: absolute;
  top: 20px;
  left: 10%;
}
.status{
  margin-top: 10px;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
}
.process{
  color: #f1b133;
}
.completed{
  color: #387ef5;
}
.task_wraper{
  margin: 0 20px;
  border-radius: 10px;
  padding-top: 10px;
  position: relative;
  background-color: #e7f5fb;
}
.task_process{
  margin: 0 auto;
  width: 90%;
  text-align: center;
}
.wraper_process{
  border: 2px solid #f1b133;
}
.wraper_completed{
  border: 2px solid #387ef5;
}
.load_bar{
  width: 60%;
  height: 15px;
  border-radius: 40px;
  overflow: hidden;
}
.process_bar{
  width: 50%;
  height: 100%;
  display: inline-block;

}
.right_loadbar{
  width: 20%;
  background-color: #C0C0C0;
}
.left_loadbar_p{
  width: 80%;
  background-color: #f1b133;
}
.left_loadbar_c{
  width: 80%;
  background-color: #387ef5;
}
.next_word{
  border-radius: 10px;
  padding-top: 10px;
  max-width: 60%;
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
  word-wrap:break-word;
}
.quest{
  max-width: 60%;
}
.btn-rule{
  position: absolute;
  top: 20px;
  right: 5%;
}
.cloth{
  width: 20px;
  height: 20px;
}
