/* Empty. Add your own CSS if you like */
span.hint {
	font-weight:bold;
	color:#ff9955;
	align:center;
}
img.edit {
	padding-left: 40px
}


[class~='blue'] {
background-color:#0000FF;
}

[class~='pink'] {
background-color:#FFAAAA;
}
[class~='yellow'] {
background-color:#FFFF00;
}


